[{:id 0, :location [5 20], :size [8 4], :display :control, :content "63", :error nil, :timers nil} {:id 3, :location [51 -24], :size [19 18], :display :control, :content "[[120 224] [84 157] [51 128] [60 48] [219 93] [289 186] [185 268]]", :error nil, :timers nil} {:id 4, :location [3 2], :size [17 14], :display :value, :content "(mapv\n  (fn [pt]\n    (mapv #(* % (c# 0)) pt))\n  (c# 3))", :error nil, :timers nil} {:id 6, :location [15 -23], :size [22 13], :display :content, :content "(require\n  '[svg-clj2.composites :as comp :refer [svg]]\n  '[svg-clj2.elements :as el])", :error nil, :timers nil} {:id 7, :location [28 -3], :size [18 20], :display :note, :content "(do\n  (require\n    '[svg-clj2.composites :as comp :refer [svg]]\n    '[svg-clj2.elements :as el])\n\n  (let [a (c# 0)]\n    (svg\n      (el/rect a a))))", :error nil, :timers nil}]