.markdown {
    background: linear-gradient(
        to bottom,
        rgba(252, 250, 250, 0.5) 0%,
        rgba(248, 249, 247, 0.4) 100%
    );
    backdrop-filter: blur(2px);
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 10pt;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    /** font-family: 'Arial', sans-serif; **/
    margin-top: 0px;
    margin-bottom: 10px;
}

.markdown p {
    /** font-family: 'Times New Roman', serif; **/
    line-height: 1.6;
    margin-bottom: 10px;
}

.markdown a {
    color: #007bff;
    text-decoration: none;
}

.markdown a:hover,
.markdown a:focus {
    text-decoration: underline;
}

.markdown img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.markdown table {
    background: linear-gradient(
        to bottom,
        rgba(252, 250, 250, 0.35) 100%,
        rgba(248, 249, 247, 0.25) 0%
    );
    width: 100%;
    border-collapse: collapse;
}

.markdown th,
.markdown td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.resize-handle {
  position: absolute;
  visibility: visible;
  left: 50%;
  top: 50%;
  width: 12px;
  height: 12px;
  background-color: #B9C2C5;
  border-radius: 51%;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
  transform: translate(-50%, -50%);
}

.top-left      { top: 0;    left: 0;    }
.top-middle    { top: 0;    left: 50%;  }
.top-right     { top: 0;    left: 100%; }
.middle-left   { top: 50%;  left: 0;    }
.middle-right  { top: 50%;  left: 100%; }
.bottom-left   { top: 100%; left: 0;    }
.bottom-middle { top: 100%; left: 50%;  }
.bottom-right  { top: 100%; left: 100%; }

.tl { top: 0;    left: 0;    cursor: nwse-resize; z-index: 10000 }
.tm { top: 0;    left: 50%;  cursor: ns-resize;   z-index: 10000 }
.tr { top: 0;    left: 100%; cursor: nesw-resize; z-index: 10000 }
.ml { top: 50%;  left: 0;    cursor: ew-resize;   z-index: 10000 }
.mr { top: 50%;  left: 100%; cursor: ew-resize;   z-index: 10000 }
.bl { top: 100%; left: 0;    cursor: nesw-resize; z-index: 10000 }
.bm { top: 100%; left: 50%;  cursor: ns-resize;   z-index: 10000 }
.br { top: 100%; left: 100%; cursor: nwse-resize; z-index: 10000 }

.drag-handle:active {
    cursor: grabbing;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#column-indicators {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  overflow: hidden;
  pointer-events: none;
  background-color: #E6E6FA;
  border-bottom: 1px solid #C0B6D0;
}

#row-indicators {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 40px;
  overflow: hidden;
  pointer-events: none;
  background-color: #E6E6FA;
  border-right: 1px solid #C0B6D0;
}

.column-indicator {
    position: absolute;
    writing-mode: vertical-rl;
    text-align: left;
    line-height: 20px;
    top: 0;
    font-size: 12px;
    width: 20px;
    height: 100%;
    border-right: 1px solid #C0B6D0;
}

.row-indicator {
    position: absolute;
    text-align: right;
    line-height: 20px;
    font-size: 12px;
    width: 100%;
    height: 20px;
    border-top: 1px solid #C0B6D0;
}
